{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class='imager-profile'>
<p id='join_date'>Joined on {{ user.date_joined|date:"D d M Y" }}</p>
<h2>{{ user }}</h2>
<p><a href="{{ user.profile.website }}"> {{ user.profile.website }}</a></p>


<p id='usage'>
You have <strong>{{ user.albums.count }}</strong> albums<br/>
You have a total of <strong>{{ user.photos.count }}</strong> photos.
</p>

<p id='photo_specs'>
You specialize in {{ user.profile.photography_type }} photography.<br/>
Your camera is a {{ user.profile.camera }}.
</p>

<p id='address'>
<strong>Address</strong><br/>
{{ user.profile.address }}</p>

Go to your <a href="{% url 'library' %}">Library</a>.
<p><a href="{% url 'profile_update' %}">Update</a> your profile.</p>

</div>

{% endblock %}