{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class='imager-profile'>
<h2>{{ user.first_name }} {{ user.last_name }}</h2>
<p><a href="{{ user.profile.website }}"> {{user.profile.website }}</a></p>
<p id='join_date'>Joined on {{ user.date_joined|date:"D d M Y" }}</p>

<ul id='usage'>
  <li><strong>{{ user.profile.albums|length }}</strong> albums</li>
  <li><strong>{{ user.profile.photos|length }}</strong> photos</li>
</ul>

<ul id='photo_specs'>
  <li>You specialize in {{ user.profile.photography_type }} photography.</li>
  <li>Your camera is a {{ user.profile.camera }}.</li>
</ul>


<p id='address'>{{ user.profile.address }}</p>

<a href="url 'library'">Library</a>

</div>

{% endblock %}