header {
    font-size: 12pt;
    background: linear-gradient(to left, black, rgba(0, 0, 0, 0)), url('http://s3.gothick.org.uk/cosmos-gothick-wordpress-twenty-ten-header.jpg');
    background-repeat: no-repeat;
    color: white;
    border-bottom: 2px solid black;
    box-shadow: .25px .25px .5px .5px black;
    padding: 3px 15px 0px 15px;
    text-align: right;
    background-size: 100%;
    }

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

footer {
    border-top: 2px solid black;
    box-shadow: .5px 0px 0px 0px;
    margin-top: 1em;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: 'Francois One', sans-serif;
}

.main-page {
    margin-left: 15%;
    margin-right: 15%;
}

.main-page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-bottom: 2em;
    border: 1px solid #000;
    -webkit-box-shadow: 0.5em 0.5em 0.5em #777;
        -moz-box-shadow: 0.5em 0.5em 0.5em #777;
            box-shadow: 0.5em 0.5em 0.5em #777;
}

.all_photos h3 {
  position: absolute;
  width: 100%;
  padding-left: 10px;
  bottom: 5px;
  font-family: 'Francois One', sans-serif;
  display: inline;
}

.all_photos img {
    display: inline;
    margin-right: 20px;
    margin-bottom: 20px;
}

.all_photos {
  position: relative;
}

header a {
    text-decoration: none;
    color: white;
}

.main-page a {
    text-decoration: none;
    color: #003f87;
}

a:hover {
    font-weight: bold;
}

.menu ul {
    list-style-type: none;
    padding-left: 0em;
}

.menu li {
        display: inline;
        padding: 0em 0em 0em 2em;
}

.helptext {
    font-style: italic;
    font-size: 0.7em;
    float: left;
    clear: both;
}

#id_username,
#id_email,
#id_password1,
#id_password2
 {
    float: right;
}

.required {
    padding-bottom: 0.7em;
}

.main-page table {
    margin-bottom: 10px;
}

#join_date {
    float:right;
    margin-top: 10px;
    font-size: 0.9em;
}

#usage {
    float: left;
    clear: both;
}

#photo_specs {
    float: right;
    text-align: right;
    clear: both;
    margin-top: -3.3em;
}

#address {
    clear: both;
    padding-top: 2em;
}