<!DOCTYPE html>
<html>
    <head>
        <title>Django-Imager</title>
        <link href="../static/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1>Django-Imager</h1>
            <nav class='menu'>
            <ul>
                <li><a href="/login">Log In</a></li>
                <li><a href="/join">Join!</a></li>
            </ul>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
        <footer>
            <p>&copy2015 Written by Megan Slater and Nicholas Draper</p>
        </footer>
    </body>
</html>