{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

<div class='imager-album'>

<h2>{{ user.get_full_name }}</h2>


<h3>All Photos</h3>
<div class='all_photos'>
{% for photo in album.photos.all %}

    <h3 class='photo_title'>{{ photo.title }}</h3>
    {% thumbnail photo.file "180x180" as im %}
    <a href="{% url 'photo_detail' photo.id %}"><img src='{{ MEDIA_ROOT }}{{ im.url }}'/></a>
    {% endthumbnail %}

{% endfor %}
{% cycle "" "" "<br/>"%}
</div>

<p>Go to your <a href="{% url 'profile' %}">Profile</a>.</p>

</div>

{% endblock %}