{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

<div class='imager-library'>

<h2>{{ user.get_full_name }}</h2>

<h3>All Albums</h3>
<div class='all_photos'>
{% for album in user.profile.albums.all %}
<h3>{{ album.title }}</h3>
{% if album.cover %}
    {% thumbnail album.cover.file "180x180" as im %}
    <img src='{{ MEDIA_ROOT }}{{ im.url }}'/>
    {% endthumbnail %}
<p>{{ album.description }}</p>
{% else %}
<img src='/static/thumbnail.jpg' height='180' width='180'>
{% endif %}
{% endfor %}
</div>

<h3>All Photos</h3>
<div class='all_photos'>
{% for photo in user.profile.photos.all %}

    <h3 class='photo_title'>{{ photo.title }}</h3>
    {% thumbnail photo.file "180x180" as im %}
    <img src='{{ MEDIA_ROOT }}{{ im.url }}'/>
    {% endthumbnail %}

{% endfor %}
</div>

Go to your <a href="url 'profile'">Profile</a>.

</div>

{% endblock %}