{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

{{ STATIC_URL }}

<div class='imager-library'>

<h2>{{ user }}</h2>

<h3>All Albums</h3>

{% for album in user.albums.all %}
<div class='all_photos'>
<h3>{{ album.title }}</h3>
{% if album.cover %}
    {% thumbnail album.cover.file "180x180" as im %}
    <a href="{% url 'album_detail' album.id %}"><img src='{{ MEDIA_ROOT }}{{ im.url }}'/></a>
    {% endthumbnail %}

{% else %}
<a href="{% url 'album_detail' album.id %}"><img src='/static/thumbnail.jpg' height='180' width='180'></a>
{% endif %}
{% cycle "" "" "<br/>" %}
</div>
{% endfor %}


<h3>All Photos</h3>
<div class='all_photos'>
{% for photo in user.photos.all %}

    <h3 class='photo_title'>{{ photo.title }}</h3>
    {% thumbnail photo.file "180x180" as im %}
    <a href="{% url 'photo_detail' photo.id %}"><img src='{{ MEDIA_ROOT }}{{ im.url }}'/></a>
    {% endthumbnail %}

{% endfor %}
{% cycle "" "" "<br/>"%}
</div>

<p>Go to your <a href="{% url 'profile' %}">Profile</a>.</p>

</div>

{% endblock %}