{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

<div class='imager-library'>

<h2>{{ user.get_full_name }}</h2>

<h2>{{ photo.title }}</h2>

    {% thumbnail photo.file "500x500" as im %}
    <img src='{{ MEDIA_ROOT }}{{ im.url }}'/>
    {% endthumbnail %}

<h3>Description</h3>
<p>{{ photo.description }}</p>
<p><strong>Uploaded:</strong> {{ photo.date_uploaded|date:"D d M Y" }}</p>
<p><strong>Modified:</strong> {{ photo.date_modified|date:"D d M Y" }}</p>
<p><strong>Published:</strong> {{ photo.date_published|date:"D d M Y" }}</p>
<p>This photo is: {{ photo.published }}</p>

<p>Go to your <a href="{% url 'profile' %}">Profile</a>.</p>

</div>

{% endblock %}