{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script type="text/javascript" src="//algorithmia.com/v1/clients/js/algorithmia-0.2.0.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.0.1/sweetalert-dev.js"></script>

<div class='imager-library'>

<h2>{{ user.get_full_name }}</h2>

<h2>{{ photo.title }}</h2>
<div id='photo_display' style='position: relative; clear: both;'>

    {% thumbnail photo.file "500x500" as im %}
    <img src='{{ MEDIA_ROOT }}{{ im.url }}'/>
    {% endthumbnail %}

</div>
        {% if not faces %}
          <a href="{% url 'detect_faces' object.id %}"><button type="">Detect Faces</button></a>
        {% endif %}
<h3>Description</h3>
<p>{{ photo.description }}</p>
<p><strong>Uploaded:</strong> {{ photo.date_uploaded|date:"D d M Y" }}</p>
<p><strong>Modified:</strong> {{ photo.date_modified|date:"D d M Y" }}</p>
<p><strong>Published:</strong> {{ photo.date_published|date:"D d M Y" }}</p>
<p>This photo is: {{ photo.published }}</p>
<p><a href="{% url 'photo_edit' photo.id %}">Edit</a> this photo.</p>

<p>Go to your <a href="{% url 'profile' %}">Profile</a>.</p>

</div>

  <script type="text/javascript">
    FaceTagger.init({
      container: '#photo-container',
      labelUrl: '{% url "photo_detail" object.id %}',
      csrf: '{{ csrf_token }}',
      originalWidth: {{ object.image.width }},
      originalHeight: {{ object.image.height }},
    newWidth: $("#photo-container img").width(),
    newHeight: $("#photo-container img").height()
    });
    {% for f in faces %}
      var face = {
        id: {{ f.id }},
        name: "{{ f.name }}",
        x: {{ f.x }},
        y: {{ f.y }},
        width: {{ f.width }},
        height: {{ f.height }}
      };
      FaceTagger.make(face);
    {% endfor %}
  </script>

{% endblock %}