{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class='one_photo'>

<h2>{{ user.get_full_name }}</h2>

<h2>{{ photo.title }}</h2>
<div style="position:relative;">


    <img src='/media/{{ photo.file }}'/>

{% for face in photo.faces.all %}
<div style="width: {{face.width}}px;height:{{face.height}}px;border:2px solid yellow;position:absolute;top: {{face.y}}px; left: {{face.x}}px;"></div>
{% endfor %}
</div>
        {% if not faces %}
          <a href="{% url 'detect_faces' object.id %}"><button class='facelabel'>Detect Faces</button></a>
        {% endif %}
<h3>Description</h3>
<p>{{ photo.description }}</p>
{% if photo.location %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        var map;
        function initialize() {
          map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 15,
            center: {lat: {{ photo.location.y }}, lng: {{ photo.location.x }}}
          });
                  map.data.addGeoJson({'type': 'FeatureCollection',
                                       'features':
                                        [
                                        {'type': 'Feature',
                                        'geometry': {'type': 'Point',
                                                     'coordinates': [{{ photo.location.x }}, {{ photo.location.y }}]
                                                    }
                                        }
                                        ]
                                    });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>

    <div id="map-canvas"></div>

{% endif %}
<p><strong>Uploaded:</strong> {{ photo.date_uploaded|date:"D d M Y" }}</p>
<p><strong>Modified:</strong> {{ photo.date_modified|date:"D d M Y" }}</p>
<p><strong>Published:</strong> {{ photo.date_published|date:"D d M Y" }}</p>
<p>This photo is: {{ photo.published }}</p>
<p><a href="{% url 'photo_edit' photo.id %}">Edit</a> this photo.</p>

<p>Go to your <a href="{% url 'profile' %}">Profile</a>.</p>

</div>


{% endblock %}